body {
  background-color: cadetblue;
}

.stats {
  width: 100%;
  height: 100px;
  display: flex;
}

.animal {
  background: url(./assets/sprite.jpg);
  background-position: -10px 0;
  background-size: 600px;
  width: 90px;
  height: 100px;
}

.random-item {
  background: url(./assets/coin.png);
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.buttonsBar {
  z-index: 999;
}

@keyframes move {
  0% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translateX(45vw);
  }
}

.moving {
  animation: move 5s linear infinite;
}

.animal1 {
  background: url(./assets/an1.jpg);
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
}
